/* ADD ANY COLOURS, SIZES ETC. HERE */
:root {
    --primary-colour: "";
    --secondary-colour: "";
    
    /* Add any fonts here */
    --primary-font: "";

    /* Easy background and element colours */
    --background-colour: #efeae7;
    --heading-text-colour: #27233a;
    --primary-text-colour: #505168;
}

body, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--background-colour);
}


#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #505168;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    padding: 30px;
    box-sizing: border-box;
    z-index: 999;
}

#header .header_container {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#header .header_info {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#header.appDetail .header_info > a {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#header.appDetail .header_info > a:hover {
    color: #B3C0A4;
}

#header h1, #header h3 {
    margin: 0;
    padding: 0;
    color: #EAEFD3;
}

#header h1 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 3px;
    color: #EAEFD3;
}

#header h3 {
    font-size: 20px;
    font-weight: 400;
    color: #EAEFD3;
}

#header.appDetail .header_info img {
    display: block;
    margin: 0;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 14px;
    box-shadow: rgb(234, 239, 211) 0px 4px 8px;
}

#header.appDetail h1 {
    font-size: 24px;
}

#header.appDetail .header_container {
    align-items: center;
}

#header.appDetail a {
    display: block;
    margin: 0;
}

#header.appDetail a > img {
    display: block;
    margin: 0;
    height: 44px;
}

#header .header_socials {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#header a {
    text-decoration: none;
    color: #EAEFD3;
    font-size: 24px;
    transition: all 125ms ease-in-out;
}

#header .header_socials .about a {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.9;
}

#header .header_socials .about a::after {
    display: flex;
    flex-direction: row;
    content: " ";
    width: 1px;
    height: 20px;
    margin-left: 20px;
    background-color: #EAEFD3;;
}

#header a:hover {
    color: #B3C0A4;
    text-shadow: rgba(51, 51, 51, 0.1) 0px 2px 4px;
}

.appPreview {
    min-height: 400px;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    padding: 50px;
}

.header_container {
    max-width: 1040px;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.content-container {
    max-width: 640px;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.appPreview h1 {
    margin: 0;
    text-align: center;
    opacity: 0.8;
}

.appPreview a {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.7);
}

.appPreview h3 {
    max-width: 500px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    font-size: 20px;
    color: #333;
    opacity: 0.7;
}

.appPreview p {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.7);
    margin: 0;
    padding-bottom: 15px;
}

.presskit {
    padding-bottom: 0;
    padding-top: 15px;
}

.appPreview .showcase {
    display: block;
    width: 80%;
    margin: 0;
    padding: 40px 0;
}

.appPreview .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.appPreview .links img {
    height: 44px;
    display: block;
    margin: 0;
}

.appPreview.jumbo img {
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.appPreview .infoButton {
    display: block;
    margin: 0;
    padding: 0px 20px;
    height: 44px;
    line-height: 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #EAEFD3;
    border-radius: 7px;
    box-sizing: border-box;
    transform: all 125ms ease-in-out;
}

.appPreview .infoButton:hover {
    opacity: 0.9;
}

.appPreview .infoButton:active {
    opacity: 1;
    box-shadow: #00000000 0px 0px 0px;
}

.neutralBG {
    border: 2px solid #ecebec;
    background: linear-gradient(0.33turn, #e3e3e3, #ededed);
    color: #454545 !important;
}

.serif {
    font-family: 'Roboto Mono', serif;
}
.fun {
    font-family: 'Roboto Mono', sans-serif;
}
.sfpro {
    font-family: 'Roboto', sans-serif;
}

#footer {
    width: 100vw;
    background: #27233A;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 60px;
    box-sizing: border-box;
}

#footer > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5px;
}

#footer > a {
    display: block;
}

#footer > a > div, .profileContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#footer img, .profileContainer > .profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    aspect-ratio: 1.0;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
}

.profileContainer {
    padding-bottom: 0;
}

.profileContainer > .profile {
    width: 150px;
    height: 150px;
}

#footer h1 {
    font-weight: 700;
    color: #505168;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

#footer p {
    font-weight: 400;
    color: #505168;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

#footer .socials {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    padding: 20px 0;
}

#footer a {
    text-decoration: none;
    color: #505168;
    font-size: 20px;
    transition: all 125ms ease-in-out;
}

#footer a:hover {
    color: #155ab5;
    text-shadow: rgba(51, 51, 51, 0.1) 0px 2px 4px;
}

.horizontal2ColumnMobileOne {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.horizontal2ColumnMobileOne > .appPreview {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.horizontal2ColumnMobileOne > .appPreview .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.featuredApps {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
    padding: 40px 0;
}

.verticalStack {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    padding-bottom: 15px;

    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin-left: 15px;
    transition: all 125ms ease-in-out;
}

.verticalStack:hover {
    background: #f8f8f8;
}

.verticalStack:first-child {
    margin-left: 0;
}

.verticalStack .showcase {
    display: block;
    margin: 0;
    object-fit: contain;
    height: 100%;
    min-height: 180px;
}

.neutral {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
}

.neutral > .flex-centered {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neutral span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    color: hsl(0, 0%, 60%);
    text-align: center;
}

#footer.about-hero {
    background: var(--background-colour);
}

.about-me > .about-me {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 50px 0;
}

#footer.about-hero h1 {
    display: block;
    padding-top: 15px;
    color: var(--heading-text-colour);
}

#footer.about-hero .about-me > p {
    display:inline-block;
    margin: 0;
    text-align: left;

    font-size: 17px;
    line-height: 1.6em;
    color: var(--primary-text-colour);
}

.grid_container {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: auto;
    justify-items: auto;
}

.grid_container .content_1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 1em; 
    margin-right: 1em;
    padding: 5em;
    text-align: left;
    width: auto;
    align-items: center;
    justify-items: center;
}

.grid_container .content_1 h1 {
    color: var(--heading-text-colour);
}

.grid_container .content_1 h3 {
    color: var(--primary-text-colour)
}

.grid_container .content_2 {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 1em; 
    margin-right: 1em;
    padding: 5em;
    text-align: left;
    width: auto;
    height: auto;
    align-items: center;
    justify-items: center;
}

.grid_container .content_2 h1 {
    color: var(--heading-text-colour);
}

.grid_container .content_2 h3 {
    color: var(--primary-text-colour)
}

.grid_container .grid_image {
    grid-area: 1 / 2 / 3 / 3;
    width: auto;
    height: 100%;
    align-items: center;
    justify-items: center;
    padding: 5em;
    /* max-width: fit-content; */
    display: flex;
    flex-direction: column;
}

.homeButton {
    border-radius: 5px;
    font-family: 'Roboto Mono', sans-serif;
    color: #EAEFD3;
    font-size: 18px;
    background: #505168;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
}

.homeButton:hover {
    background: #27233A;
    text-decoration: none;
}

.portfolio-header {
    text-align: center;
    padding: 5em;
    color: #27233a;
}

.portfolio-paragraph {
    padding-left: 5em;
    padding-right: 5em;
    color: #505168;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.right-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: auto;
    justify-items: auto;
    width: auto;
    max-width: 100%;
}

.right-container-text {
    grid-area: 1 / 1 / 2 / 2;
    background: #B3C0A4;
    padding: 5em;
    max-width: 100%;
}

.right-container-text h1 {
    color: #27233a;
}

.right-container-text p {
    color: #27233a;
}

.right-container-image {
    grid-area: 1 / 2 / 2 / 3;
    background: #B3C0A4;
    padding: 5em;
    max-width: 100%;
    place-items: center;
    vertical-align: middle;
}

.right-container-image img {
    width: 100%;
    vertical-align: middle;
}

.left-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: auto;
    justify-items: auto;
    max-width: 100%;
}

.left-container-text {
    grid-area: 1 / 2 / 2 / 3;
    background: #efeae7;
    padding: 5em;
    max-width: 100%;
}

.left-container-text h1 {
    color: #27233a;
}

.left-container-text p {
    color: #505168;
}

.left-container-image {
    grid-area: 1 / 1 / 2 / 2;
    background: #efeae7;
    padding: 5em;
    width: auto;
    max-width: 100%;
    place-items: center;
    vertical-align: middle;
}

.left-container-image img {
    width: 100%;
    vertical-align: middle;
}

@media (max-width: 700px) {
    .mobile-hidden {
        display: none;
    }
}

@media (max-width: 1135px) {
    .grid_container {
        display: block;
    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
        align-items: auto;
        justify-items: auto;
    }
    
    .grid_container .content_1 {
        grid-area: 1 / 1 / 3 / 2;
        margin-left: auto; 
        margin-right: auto;
        padding: auto;
        text-align: left;
        width: auto;
        max-width: fit-content;
        align-items: center;
        justify-items: center;
    }
    
    .grid_container .content_1 h1 {
        color: var(--heading-text-colour);
    }
    
    .grid_container .content_1 h3 {
        color: var(--primary-text-colour)
    }
    
    .grid_container .content_2 {
        grid-area: 2 / 1 / 4 / 2;
        margin-left: auto; 
        margin-right: auto;
        padding: auto;
        text-align: left;
        width: auto;
        max-width: fit-content;
        height: auto;
        align-items: center;
        justify-items: center;
    }
    
    .grid_container .content_2 h1 {
        color: var(--heading-text-colour);
    }
    
    .grid_container .content_2 h3 {
        color: var(--primary-text-colour)
    }
    
    .grid_container .grid_image {
        grid-area: 3 / 1 / 4 / 2;
        width:min-content;
        height: auto;
        align-items: center;
        justify-items: center;
        /* padding: 1em; */
        display: flex;
    }
    .portfolio-header {
        padding: 2em;
    }
    .portfolio-paragraph {
        padding: 1em;
    }
    .right-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .right-container-text {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 14px;
        /* padding: 1em; */
    }
    .right-container-image {
        grid-area: 1 / 1 / 3 / 2;
    }
    .left-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .left-container-text {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 14px;
        /* padding: 1em; */
    }
    .left-container-image {
        grid-area: 1 / 1 / 3 / 2;
    }
}

@media (max-width: 672px) {
    .header_socials .about a {
        font-size: 14px;
    }
    .grid_container .content_1 {
        max-width: 480px;
        max-height: min-content;
    }
    .grid_container .content_2 {
        max-width: 480px;
        max-height: min-content;
    }
    .grid_container .grid_image {
        object-fit: scale-down;
        max-width: 100px;
        height: min-content;
        align-items: center;
        justify-items: center;
        background-size: contain;
    }  
    .portfolio-header {
        padding: 2em;
    }
    .portfolio-paragraph {
        padding: 1em;
    }
    .right-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .right-container-text {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 14px;
        /* padding: 1em; */
    }
    .right-container-image {
        grid-area: 1 / 1 / 3 / 2;

    }
    .left-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .left-container-text {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 14px;
        /* padding: 1em; */
    }
    .left-container-image {
        grid-area: 1 / 1 / 3 / 2;
    }
}
